# BaconPHP is provided under the terms of the zlib/png license. By using this software,
# you agree with the terms of the zlib/png lisence. The license agreement extends to all
# the files within this installation.
# Copyright 2011 Luiz Fernando Alves da Silva
#
# The htaccess file basically redirects the link accessed
# in the form of a $ _GET['action'] parameter to the file
# bacon.php.
#
Options +FollowSymlinks
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ bacon.php?action=$1 [L]
    RewriteRule index.php bacon.php [L]
</IfModule>